* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Furore';
	src: url(./font/Furore.otf);
	font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	background: linear-gradient(
			to top,
			rgba(22, 22, 22, 0.8) 0%,
			rgba(21, 21, 21, 0.8) 100%
		),
		url('./img/matrix.jpg');
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 360px;
	margin: 0 auto;
}

.section {
	// .section__title

	&__title {
		text-align: center;
		color: rgba(217, 217, 217, 0);
		-webkit-text-stroke: 1px #77f67a;
		font-family: 'Furore';
		font-weight: 400;
		font-size: 45px;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 15px 30px;
	color: #fff;
	font-weight: 700;
	background-image: linear-gradient(
		0.25turn,
		rgba(46, 243, 47, 1) 0%,
		rgba(11, 100, 27, 1) 100%
	);
	max-width: 250px;
	margin: 40px auto 0;
	font-size: 26px;
}

a {
	color: #fff;
	text-decoration: none;
}

.wrapper {
	// .wrapper__title
	max-width: 360px;
	padding: 30px 0 380px;
	position: relative;

	&__subtitle {
		margin: 40px auto;
		text-align: center;
		padding: 8px 25px;
		background: #003300;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 160px;
		border-radius: 8px;
		text-transform: uppercase;
	}

	&__title {
		position: absolute;
		top: 100px;
		width: 100%;
	}

	&__img {
		width: 104%;
		z-index: 10;
		position: absolute;
		top: 210px;
		// left: -10%;
		overflow: hidden;
		// right: 50%;
	}

	&__long {
		text-align: center;
		font-family: 'Furore';
		font-weight: 400;
		font-size: 20px;
		color: rgba(217, 217, 217, 0);
		-webkit-text-stroke: 1px #77f67a;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__both {
		display: flex;
		justify-content: center;
		gap: 170px;
		align-items: center;
		color: rgba(217, 217, 217, 0);
		-webkit-text-stroke: 1px #77f67a;
		font-family: 'Furore';
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		margin-top: 200px;

		& p {
			max-width: 80px;
		}
	}

	&__btn {
		border-radius: 10px;
		// padding: 10px;
		color: #000;
		text-transform: uppercase;
		max-width: 380px;
		width: 95%;
		margin-top: 240px;
		z-index: 99;
		position: absolute;
		left: 10%;
		transform: translateX(-5%);
		font-size: 30px;
		padding: 30px;

		&::before {
			content: url('./img/blue.png');
			position: absolute;
			left: -10%;
			top: -70%;
		}

		&::after {
			content: url('./img/red.png');
			position: absolute;
			right: -4%;
			bottom: -80%;
			overflow: hidden;
		}
	}
}

.about {
	padding-top: 50px;
	// .about__title

	&__title {
		margin-bottom: 30px;
	}

	// .about__main

	&__main {
		border: 1px solid #fff;
		text-align: center;
		width: 90%;
		margin: 0 auto 30px;
		padding: 30px 10px;
	}

	// .about__boxes

	&__boxes {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	// .about__box

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 90%;
		margin: 0 auto;
		background: rgba(25, 25, 25, 0.8);
		padding: 10px;

		img {
			width: 100px;
			height: 140px;
			border: 1px solid #2ef32f;
			object-fit: cover;
		}
	}
}

.work {
	padding-top: 80px;
	// .work__title

	// &__title {
	// }

	// .work__boxes

	&__boxes {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 30px auto;
		gap: 20px 11px;
	}

	// .work__box

	&__box {
		font-family: 'Furore';
		font-weight: 400;
		font-size: 20px;
		flex-basis: 100%;
		border: 1px solid #2ef32f;
		height: 120px;
		position: relative;
		padding: 5px;

		&_half {
			flex-basis: 48%;
			height: 130px;
		}

		&__img {
			position: absolute;
			bottom: 0;
			right: 0;

			&_long {
				width: 100%;
			}
		}

		&_right {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__text {
		&_center {
			text-align: center;
		}

		&_right {
			text-align: right;
			max-width: 230px;
		}

		&_left {
			max-width: 150px;
		}
	}
}
.program {
	margin-bottom: 30px;
	// .program__title

	&__title {
		margin-bottom: 30px;
	}

	// .program__boxes

	&__boxes {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	// .program__box

	&__box {
		width: 100%;
		border-right: 3px solid #2ef32f;
		border-bottom: 3px solid #2ef32f;
		padding: 10px 0;
		position: relative;
		height: 150px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			background: #2ef32f;
		}

		&::after {
			width: 200px;
			height: 3px;
			top: 0;
			right: 0;
		}

		&::before {
			width: 3px;
			height: 70px;
			left: 0;
			bottom: 0;
		}

		&_green {
			color: rgb(46, 243, 47);
		}

		&_big {
			font-size: 45px;
		}

		&__title {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		p {
			padding-left: 20px;
		}
	}
}
.result {
	// .result__title

	&__title {
		margin-bottom: 30px;
		position: relative;
	}

	&__text {
		text-align: center;
		width: 80%;
		margin: 0 auto;
		line-height: 125%;

		&_green {
			color: #2ef32f;
			padding: 20px 0;
		}
	}

	&__img {
		width: 100%;
		position: relative;
		left: -15%;
	}

	&__cont {
		display: flex;
		justify-content: center;
		align-items: center;
		// padding: 10px;

		p {
			text-align: right;
			font-size: 20px;
			padding-right: 25px;
		}

		img {
			width: 50%;
			padding: 10px 0;
		}
	}
}
.variant {
	// .variant_label

	&_label {
		background-image: linear-gradient(
			0.25turn,
			rgba(46, 243, 47, 1) 0%,
			rgba(11, 100, 27, 1) 100%
		);
		position: absolute;
		top: -27px;
		left: 50%;
		transform: translate(-50%);
		max-width: 250px;
		width: 100%;
		text-align: center;
		font-size: 36px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 5px;
	}

	// .variant__title

	&__title {
		text-align: center;
		margin-bottom: 50px;
	}

	// .variant__boxes

	&__boxes {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	// .variant__box

	&__box {
		position: relative;
		border: 2px solid #fff;
		padding: 50px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	// .variant__list

	&__list {
		// .variant__list_plus

		&_plus {
			font-weight: 700;
		}

		// .variant__list_red

		&_red {
			color: rgb(216, 2, 2);
		}
	}
}

.footer {
	padding: 50px;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	// .footer__phone

	// &__phone {
	// }

	// // .footer__email

	// &__email {
	// }
}
